@import '../../../../App.scss';
//width: 80rem;
#invoice {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    .txt--right {
        text-align: right;
    }
    .invoice__btn {
        position: absolute;
        right: -8.6rem;
        top: 0.2rem;
        img {
            height: 2.2rem;
            opacity: 0.2;
        }
        img:hover {
            opacity: 0.5;
            transition: 0.5s;
        }
    }
    .invice__btn--rel {
        right: -7rem;
        top: 1.2rem;
        position: absolute;
    }
    .icon_iSettings {
        top: 2rem;
        right: -3.5rem;
    }
    .icon_issue-date {
        top: 5.2rem;
    }
    .icon_due-date {
        top: 9.6rem;
    }
    .icon_iTasks {
        top: 1.7rem;
    }
    .icon_iAdd-task {
        right: -8.4rem;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        height: 3rem;
        font-size: 3rem;
        z-index: 9;
        background-color: #cfcfcf;
        color: #fff;
        span {
            top: -0.5rem;
        }
    }
    .invoice__btn:focus,
    .close:focus {
        border: dashed 0.1rem #111;
    }
    .close:hover {
        background-color: #aaa;
    }
    .invoice__calendar .close {
        top: 0.5rem;
        right: 0.5rem;
    }
    .invoice__task-form .close {
        top: 3.8rem;
    }
    header {
        display: flex;
        align-items: flex-end;
        padding: 7rem 5rem 4rem;
        div {
            width: 50%;
            display: inline-block;
        }
        b {
            font-size: 1.6rem;
            display: block;
            margin-bottom: 1rem;
            padding-bottom: 0.4rem;
        }
    }
    h1 {
        font-family: $FONT_LOGO;
        font-size: 6.7rem;
        margin-bottom: -1rem;
    }
    p {
        margin: 0.2rem 0;
    }
    //top of address
    .invoice__address-top {
        margin: 1rem 0 0.4rem;
    }
    //bottom of address
    .invoice__address-btm {
        margin: 0.4rem 0 1em;
    }
    .details-table {
        width: 100%;
        margin-left: 0;
        caption {
            @extend .sr-only;
        }
    }
    footer {
        background-color: #fff;
        padding: 2rem 5rem 5rem;
        text-align: center;
        color: #c5c5c5;
        font-size: 1rem;
    }
}
.color-picker {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #fff;
    margin: 0.5rem 0;
    border-radius: 0.4rem;
    padding: 2rem;
    ul {
        display: block;
        max-width: 35rem;
        margin-top: 2rem;
        margin-right: 3rem;
    }
    li {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        margin: 0.1rem 0.2rem;

        button {
            width: 100%;
            height: 100%;
        }
        button:focus {
            border: dashed 0.1rem #111;
        }
    }
    li:first-child {
        border: solid 0.1rem #333;

        top: -0.1rem;
        button:focus {
            border: dashed 0.1rem #fff;
        }
    }
    li:nth-child(2) {
        border: solid 0.1rem #5f7c8a;
        top: -0.1rem;
    }
}
.txt-white {
    color: #fff;
}
.txt-black {
    color: #111;
}
.bg-black {
    background-color: #000;
    color: #fff;
}
.bg-grey {
    background-color: #5f7c8a;
}
.bg-brown {
    background-color: #785447;
}
.bg-bright-orange {
    background-color: #ff872b;
}
.bg-orange {
    background-color: #eb9346;
}
.bg-yellow {
    background-color: #ffd455;
}
.bg-yellow-green {
    background-color: #d8e465;
}
.bg-light-green {
    background-color: #8bc34a;
}
.bg-green {
    background-color: #4baf50;
}
.bg-dark-green {
    background-color: #009688;
}
.bg-see-blue {
    background-color: #01bcd5;
}
.bg-light-blue {
    background-color: #03a9f4;
}
.bg-blue {
    background-color: #2065a8;
}
.bg-dark-blue {
    background-color: #203354;
}
.bg-dark-purple {
    background-color: #3f50b6;
}
.bg-purple {
    background-color: #673bb7;
}
.bg-purple-pink {
    background-color: #9c27b0;
}
.bg-pink {
    background-color: #e91f63;
}
.bg-dark-pink {
    background-color: #d5133a;
}
.bg-red {
    background-color: #f44337;
}

.invoice-recepient {
    background-color: #fff;
    padding: 3rem 5rem 1rem;
    display: flex;
    div {
        padding-bottom: 3rem;
        border-bottom: solid 0.1rem #111;
    }
    b {
        // color: #a8a8a8;
        // font-weight: normal;
        display: block;
        margin-bottom: 0.2rem;
        margin-top: 1rem;
    }
}
.invoice-recepient__bill-to {
    padding-right: 4rem;
    flex-grow: 1;
}
.invoice-recepient__banking {
    padding-left: 4rem;
}
.invoice__recepient-name {
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
}
.invoice__calendar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    h3 {
        position: absolute;
        z-index: 2;
        top: 2rem;
        left: 3rem;
        strong {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.invoice__items {
    background-color: #fff;
    padding: 0 5rem;
    td,
    th {
        padding: 1.5rem 0 1.5rem 2rem;
        text-align: right;
        vertical-align: top;
    }
    td:first-child,
    th:first-child {
        text-align: left;
        padding-left: 0;
    }
    thead {
        font-weight: bold;
        th:first-child {
            width: 80rem;
        }
    }
    .page-break {
        padding: 5rem 0;
        margin-bottom: 4rem;
        td {
            position: absolute;
            width: 81rem;
            left: -6rem;
            background-color: #f1f1f1;
            padding: 2rem 6rem;
            margin: 5rem 0;
        }
        th {
            padding: 7rem;
        }
    }
}
.invoice__items-btm {
    padding: 1.5em 5rem;
    margin-top: 1.5rem;
}
.invoice__tasks {
    margin: 1rem 0 0.5rem;
    padding-top: 2.5rem;
    caption {
        display: none;
    }

    .td__btn.update {
        display: none;
    }
    .tile {
        margin: 0.5rem 0;
        left: -0.5rem;
    }
}

.invoice__td-desc {
    text-align: left;
    width: 80rem;
}
.invoice__td-rate {
    width: 5rem;
}
.invoice__td-qty {
    width: 5rem;
}
.invoice__td-tax {
    width: 5rem;
}
.invoice__td-amount {
    width: 10rem;
}
tr > .invoice__td-btn {
    display: flex;
    align-items: stretch;
}
.invoice__td-btn {
    position: absolute;
}
.invoice__task-form {
    margin: 0.5rem 0;
    .task-form {
        margin-top: -4rem;
        fieldset {
            margin: 0;
        }
    }
}
.invoice__footer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #fff;
    section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
.invoice__notes {
    display: flex;
    align-items: flex-start;
    padding-left: 5rem;
    padding-right: 3rem;
    text-align: left;
    h3 {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}
.invoice__total {
    display: flex;
    align-items: flex-end;
    padding-left: 3rem;
    padding-right: 5rem;
    text-align: right;

    div {
        width: 100%;
    }
}
.invoice__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
}
//fit invoice to a smaller screen
@media only screen and (max-width: 1200px) {
    #invoice {
        transform: scale(0.8);
        left: -8rem;
        margin-top: -2.2rem;
    }
}
