@import '../../App.scss';
.page {
    max-width: 130rem;
    margin: auto;
    padding: 0 1rem;
}
.header {
    display: flex;
    margin: 1rem;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: solid 0.1rem #dfdfdf;
    padding: 1rem 0 2rem;
    a:link,
    a:visited {
        color: $COLOR_THEME;
    }
    a:hover,
    a:active {
        color: $COLOR_INFO;
    }
    a:focus {
        color: $COLOR_INFO;
    }
}

.header__logo:link,
.header__logo:visited {
    font-family: 'Audiowide', serif;
    font-size: 2.4rem;
    padding: 1rem 2rem;
    display: inline-block;
    text-decoration: none;
    border: dashed 0.1rem #fff;
    width: 25rem;
    text-align: center;
    margin-right: 2rem;
}

.header__logo:hover {
    text-decoration: none;
}
.header__logo:focus {
    text-decoration: none;
    border: dashed 0.1rem #111;
}
.header__messages-display {
    flex-grow: 1;
}
.header__messages {
    span {
        opacity: 0;
        animation: fadeInMessage 1s forwards linear;
    }
}
@keyframes fadeInMessage {
    to {
        opacity: 1;
    }
}
.header__logout:focus {
    border: dashed 0.1rem #111;
    background-color: #fff;
}
.header__logout:hover {
    background-color: $COLOR_THEME;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #c5c5c5;
    font-size: 1rem;
    padding: 2rem;
    z-index: -1;
}
.dashboard {
    display: flex;
    padding: 0 1rem;
    main {
        flex-grow: 1;
        padding-top: 2rem;
        padding-bottom: 6rem;
        max-width: 100rem;
    }
}
.dashboard-nav {
    width: 26rem;

    padding: 0;
    margin-right: 2rem;
}
.dashboard-nav__list {
    width: 26rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    //when companies open change to 0
    top: 9rem;
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    li {
        display: block;
    }
}
.dashboard-nav__list-main {
    min-height: calc(100vh - 24rem);
    padding-bottom: 5rem;
}
.dashboard-subnav,
.dashboard-subnav__link,
.dashboard-nav__link {
    background-color: #cfcfcf;
    font-size: 1.3rem;
    padding: 1.2rem 3rem 1.2rem 3rem;
    color: #111;
    margin-top: 0;
}

.dashboard-subnav__link:link,
.dashboard-subnav__link:visited {
    background-color: lighten($COLOR_THEME, 20%);
    transition: 0.5s ease-in-out;
    color: #111;
    padding-left: 3rem;
    opacity: 0;
}
.dashboard-subnav:hover,
.dashboard-nav__link:focus,
.dashboard-nav__link:hover {
    background-color: #cfcfcf;
    color: #111;
    text-decoration: none;
}
.dashboard-subnav__link--is-active,
.dashboard-subnav__link--is-active:hover,
.dashboard-subnav__link:active,
.dashboard-subnav__link:hover {
    transform: translateX(1.5rem);
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

.dashboard__link--is-active:hover,
.dashboard__link--is-active:focus,
.dashboard__link--is-active:link,
.dashboard__link--is-active:visited {
    background-color: $COLOR_THEME !important;
}

.dashboard-nav__link:link,
.dashboard-nav__link:active,
.dashboard-nav__link:visited {
    color: #111;
}
.dashboard-nav__link:focus,
.dashboard-subnav__link:focus {
    border: dashed 0.1rem #111;
}
.dashboard__icon {
    height: 1.6rem;
    margin-right: 0.7rem;
}
.disable-links {
    background-color: rgba(241, 241, 241, 0.7);
    position: absolute;
    top: 6.5rem;
    width: 100%;
    height: 15rem;
}

.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    img {
        height: 30rem;
        margin-bottom: 1rem;
        opacity: 0.8;
    }
    p {
        top: -12rem;
    }
}
.desktop-only {
    background-color: #f1f1f1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 5rem 20rem;
    h1 {
        color: #ccc;
    }
    p {
        font-size: 1.6rem;
        color: $COLOR_THEME;
        text-align: center;
    }
}
@include mobile {
    .desktop-only h1 {
        transform: rotate(90deg);
        padding-left: 4rem;
        margin-bottom: -10rem;
    }
}
