@import '../../App.scss';
.calendar {
    display: inline-block;
    padding: 5rem 5.85rem 3rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    background-color: #fff;
    border-radius: 0.4rem;
    ul {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        min-width: 20rem;
        button {
            font-size: 1.3rem;
            width: 100%;
            height: 100%;
            text-align: center;
            border: solid 0.1rem #f1f1f1;
        }
        button:hover {
            border-color: $COLOR_THEME;
        }
    }
    button:focus {
        border: dashed 0.1rem #111;
    }
}
.calendar__header {
    width: 100%;
    margin: auto;
    padding: 2rem 10% 1rem;
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    text-align: center;
    border-top: solid 0.1rem $COLOR_GREY;
    button {
        font-size: 2rem;
        display: inline-block;
        color: $COLOR_GREY;
    }
    button:hover {
        color: #111;
    }
    button:first-child {
        transform: rotate(180deg);
    }
}
.day {
    display: inline-flex;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: solid 0.1rem #fff;
    text-align: center;
}
.days__named {
    margin-bottom: 1rem;
    border-bottom: solid 0.1rem $COLOR_GREY;
    border-top: solid 0.1rem $COLOR_GREY;
}
.today {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: $COLOR_THEME;
    color: #fff;
}
