@import '../../App.scss';
.account h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    font-size: 1.8rem;
}
.delete-account h2 {
    color: $COLOR_DANGER;
}
.account {
    width: 60rem;
    display: block;
    border-bottom: solid #e1e1e1 0.1rem;
    margin-bottom: 4rem;
}
.account .tile {
    margin: 2rem 0 4rem;
    display: block;
    padding: 3rem 4rem 2rem 2rem;
}
