body {
    font-size: 11px;
    font-family: 'Inter', sans-serif;
}

.txt--right {
    text-align: right;
}
.txt-white {
    color: #fff;
}
.txt-black {
    color: #111;
}
.bg-black {
    background-color: #000;
    color: #fff;
}
.bg-grey {
    background-color: #5f7c8a;
}
.bg-brown {
    background-color: #785447;
}
.bg-bright-orange {
    background-color: #ff5623;
}
.bg-orange {
    background-color: #eb9346;
}
.bg-yellow {
    background-color: #ffc108;
}
.bg-yellow-green {
    background-color: #cddd39;
}
.bg-light-green {
    background-color: #8bc34a;
}
.bg-green {
    background-color: #4baf50;
}
.bg-dark-green {
    background-color: #009688;
}
.bg-see-blue {
    background-color: #01bcd5;
}
.bg-light-blue {
    background-color: #03a9f4;
}
.bg-blue {
    background-color: #2065a8;
}
.bg-dark-blue {
    background-color: #203354;
}
.bg-dark-purple {
    background-color: #3f50b6;
}
.bg-purple {
    background-color: #673bb7;
}
.bg-purple-pink {
    background-color: #9c27b0;
}
.bg-pink {
    background-color: #e91f63;
}
.bg-dark-pink {
    background-color: #d5133a;
}
.bg-red {
    background-color: #f44337;
}
li {
    list-style: none;
}
header {
    display: flex;
    align-items: center;
    padding: 40px 55px 20px;
}
header div {
    width: 50%;
    display: inline-block;
}
header b {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
header li {
    padding: 1px 0;
}
h1 {
    font-family: 'Audiowide', serif;
    font-size: 60px;
    font-weight: normal;
    margin-top: -20px;
    margin-bottom: -5px;
}
.color-picker,
.invoice__btn,
.close {
    display: none;
}

@media print {
}
/* @page {
    margin: -10px;
} */
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
@page {
    size: A4;
    margin: -10px;
}
@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
}
