body {
    font-size: 11px;
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
.txt--right {
    text-align: right;
}
.txt-white {
    color: #fff;
}
.txt-black {
    color: #111;
}
.bg-black {
    background-color: #000;
    color: #fff;
}
.bg-grey {
    background-color: #5f7c8a;
}
.bg-brown {
    background-color: #785447;
}
.bg-bright-orange {
    background-color: #ff872b;
}
.bg-orange {
    background-color: #eb9346;
}
.bg-yellow {
    background-color: #ffd455;
}
.bg-yellow-green {
    background-color: #d8e465;
}
.bg-light-green {
    background-color: #8bc34a;
}
.bg-green {
    background-color: #4baf50;
}
.bg-dark-green {
    background-color: #009688;
}
.bg-see-blue {
    background-color: #01bcd5;
}
.bg-light-blue {
    background-color: #03a9f4;
}
.bg-blue {
    background-color: #2065a8;
}
.bg-dark-blue {
    background-color: #203354;
}
.bg-dark-purple {
    background-color: #3f50b6;
}
.bg-purple {
    background-color: #673bb7;
}
.bg-purple-pink {
    background-color: #9c27b0;
}
.bg-pink {
    background-color: #e91f63;
}
.bg-dark-pink {
    background-color: #d5133a;
}
.bg-red {
    background-color: #f44337;
}
li {
    list-style: none;
}
header {
    display: flex;
    align-items: flex-end;
    padding: 70px 60px 40px;
}
header div {
    width: 50%;
    display: inline-block;
}
header b {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    padding-bottom: 4px;
}
header ul {
    margin-bottom: 0;
}

h1 {
    font-family: 'Audiowide', serif;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: -5px;
}
p {
    margin: 3px 0;
}

p.invoice__address-top {
    margin: 5px 0 4px;
}

p.invoice__address-btm {
    margin: 4px 0 5px;
}
.invoice-recepient {
    background-color: #fff;
    padding: 30px 60px 10px;
    display: flex;
}
.invoice-recepient div {
    padding-bottom: 30px;
    border-bottom: solid 0.2px #111;
}

.invoice-recepient b {
    display: block;
    margin-bottom: 2px;
    margin-top: 10px;
}
.invoice-recepient__bill-to {
    padding-right: 30px;
    flex-grow: 1;
}
.invoice-recepient__banking {
    padding-left: 30px;
}
.invoice__recepient-name {
    font-size: 14px;
    padding-bottom: 4px;
}
.invoice__items-box {
    min-height: 200px;
    background-color: #fff;
}
.invoice__items {
    padding: 0 60px;
}
.invoice__items td,
.invoice__items th {
    padding: 10px 0 10px 10px;
    text-align: right;
    font-size: 11px;
}
.invoice__items td:first-child,
.invoice__items th:first-child {
    text-align: left;
    padding-left: 0;
}
.invoice__items thead {
    font-weight: bold;
    font-size: 12px;
}
.invoice__items thead th:first-child {
    width: 800px;
}
.invoice__td-desc {
    text-align: left;
    font-weight: normal;
    width: 800px;
}
.invoice__td-rate {
    width: 50px;
}
.invoice__td-qty {
    width: 50px;
}
.invoice__td-tax {
    width: 50px;
}
.invoice__td-amount {
    width: 80px;
}
.invoice__td-btn {
    display: none;
}

.invoice__task-form,
.invoice__tasks,
.invoice__calendar,
.details-table,
.color-picker,
.invoice__btn,
.sr-only,
.close {
    display: none;
}

@media print {
}
@page {
    margin: 0px;
}
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
